	.table-bp, .th-bp, .td-bp {
		font-weight: normal;
		table-layout: fixed;
		width: 100%;
		border: 1px solid black;
		border-collapse: collapse;
	}

	.th-bp, .td-bp {
		padding: 5px;
	}

	.tr-bp:nth-child(even) {
		background-color: #FFFFFF;
	}

	.tr-bp:nth-child(odd) {
		background-color: #F2FFFF;
	}

	.button-bp {
		position: absolute;
		background-color: #66d9ff;
		border: 1px solid #0099cc;
		color: white;
		cursor: pointer;
		border-radius: 2px;
		padding-top: 22px;
		transform: translateY(-50%);
	}

	.label-a-t {
		color: white;
		background-color: #66d9ff;
		border-radius: 12px;
		padding: 1px 7px;
		display: inline-block;
	}

	.triangle-up {
		position: absolute;
		z-index: 6;
		width: 0;
		height: 0;
		top: 16px;
		transform: translate(-25%);
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 50px solid #10707f;;
	}

	.label-b-d {
		position: absolute;
		z-index: 5;
		top: 20px;
		width: 170px;
		transform: translate(-50%);
		color: white;
		background-color: #10707f;
		border-radius: 12px;
		padding: 1px 7px;
		display: inline-block;
	}

	.container-t > div {
		display: inline-block;
		width: calc(100% / 13);
		text-align: center;
	}