
	.form {
		margin: 0 auto;
		width: 250px;
	}
	.form label{
		display: inline-block;
		text-align: right;
		float: left;
	}
	.form input{  
		display: inline-block;
		text-align: left;
		float: right;
	}
	.ContainerLogin
	{
		margin-top: 10%;
	}