.noPadding
{
    padding-left:  0;
    margin-left: 0;
}

.PImageFrontHeader
{

    background-position: center center; 
    background-size: cover;
    background-attachment: scroll;
    background-repeat : no-repeat;
    overflow: hidden;
    width: 100%;
    position: fixed;
    

}
.CardInfoOntopImage
{
    top: 150px;
    left: 80px;
    position: fixed;
}
.firstRow
{
    background-image: url("./assets/image-front-header.jfif");
    
}
/* .MainContainer
{
    margin-top: 100vh;
} */
